@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body{
    background-color: #edeaff;
    font-family: 'Courier Prime', monospace;
}
.stopwatch{
    width: 90%;
    max-width: 400px;
    /* border: 1px solid black; */
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(./image/stopwatch.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #f1f1f1;
    padding: 30px 0;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1{
    margin-right: 60px;
    font-weight: 200;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    color: #dbdbdb;
}
.button img{
    width: 50px;
    margin: 0 5px;
    color: #dbdbdb;
    cursor: pointer;
}
.button img:nth-child(2){
    width: 80px;
}